
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}

/*start for testing only*/

[class*="col-"] {
	/*border: 1px solid black;*/
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px; 
    background: transparent; 
}

/*end for testing only*/



/*start colors*/

/*start bg colors*/
.bg-color-main {
	background-color: #DF5272;
}

.bg-color-secondary {
	background-color: #E8983F;
}

.bg-color-black {
	background-color: #132E3F;
}

.bg-color-black-2 {
	background-color: #333;
}

.bg-color-white {
	background-color: #F2F3EE;
}

.bg-color-white-2 {
	background-color: #FFFFF2;
}

.bg-color-transparent {
	background-color: transparent;
}

.box-shadow {
	box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.4);
}
/*end bg colors*/

/*start font colors*/
.font-color-main {
	color: #DF5272;
}

.font-color-secondary {
	color: #E8983F;
}

.font-color-black {
	color: #132E3F;
}

.font-color-black-2 {
	color: #333;
}

.font-color-white {
	color: #F2F3EE;
}

.font-color-white-2 {
	color: #FFFFF2;
}

.font-color-faded {
	color: rgba(0, 0, 0, 0.5);
}

.font-shadow {
	text-shadow:
	1px 1px 1px rgba(0, 0, 0, 0.4),
	-1px 1px 1px rgba(0, 0, 0, 0.4),
	1px -1px 1px rgba(0, 0, 0, 0.4),
	1px 1px 1px rgba(0, 0, 0, 0.4);
}
/*end font colors*/

/*end colors*/



/*start navbar*/
navbar {
	border-bottom: 10px solid #DF5272;
}

.navbar-brand:hover {
	color: #F2F3EE;
}

.navbar-toggler-icon {
	background-image: url(../images/icons/bars-solid.svg);
}

.dropdown-menu {
	border-radius: 0;
	border-style: none;
}

.navbar-item {
	font-weight: bold;
	color: #F2F3EE;
}

.dropdown-item {
	color: #F2F3EE;
}

.navbar-item:hover > a {
	color: #E8983F;
}

.dropdown-item:hover {
	color: #E8983F;
	background-color: transparent;
}

.active-page {
	color: #DF5272;
}

.active-page:hover {
	color: #DF5272;
}

/*end navbar*/


/*start footer*/
footer {
	border-top: 10px solid #DF5272;
}

a[class*="social-"] {
	font-size: 25px;
	text-decoration: none;
}

a[class*="social-"]:hover {
	color: #E8983F;
}

.footer-hr {
	border-color: #F2F3EE;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
/*end footer*/



/*start landing*/
#landing {
	min-height: 100vh;
	background-image: url("../images/landing/landing.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}

#landing:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(to bottom right, #E8983F, #DF5272, #132E3F);
	opacity: .25;
	width: 100%;
}


/*start landing intro*/
.intro-jcontainer {
	height: 100vh;
}

.intro-jbody{
	position: relative;
	height: 100%;
	width: 100%;
}

.intro-jtext {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.intro-btn {
	text-decoration: none;
	font-size: 75px;
}

.intro-btn:hover {
	text-decoration: none;
	color: #E8983F;
}
/*end landing intro*/


/*start landing form*/
.intro-form {
	min-height: 50vh;
}

.form-call {
	position: relative;
}

.form-call:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-top-color: #F2F3EE;
	border-bottom: 0;
	margin-left: -15px;
	margin-bottom: -15px;
}

[id*="form-"] {
	width: 100%;
	border-radius: 0px;
}

.form-btn {
	width: 100%;
	border: 3px dashed #DF5272;
	border-radius: 0px;
	background-color: transparent;
	color: #DF5272;
}

.form-btn:hover {
	border: 3px dashed transparent;
	background-color: #DF5272;
	color: #F2F3EE;
}
/*end landing form*/

/*start landing more*/
.landing-btn {
	width: 100%;
	border: 3px dashed #E8983F;
	border-radius: 0px;
	background-color: transparent;
	color: #E8983F;
}

.landing-btn:hover {
	border: 3px dashed transparent;
	background-color: #E8983F;
	color: #F2F3EE;
}
/*end landing more*/

/*end landing*/



/*start about*/
#about {
	/*background-image: url("../images/about/about-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;*/
}

img[alt="bianca arreola"] {
	width: 70%;
	border-radius: 50%;
}

img[alt*="showcase-"] {
	width: 48%;
}

.about-top {
	text-decoration: none;
	color: #E8983F;
}

.about-top:hover {
	text-decoration: none;
	color: #E8983F;
}
/*end about*/



/*start portfolio*/
/*end portfolio*/



/*start clients*/
.card-logo {
	width: 98%;
	margin: 1%;
	min-height: 300px;
	text-align: center;
	border-radius: 0;
	float: left;
	border: 0;
}

.card-body {
	position: relative;
}

.card-body > div {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.logo {
	width: 80%;
	margin: 0 auto;
	padding: 3px;
}

.card-title {
	margin-bottom: 20px;
}

.clients-btn {
	background-color: transparent;
	border: 3px dashed #E8983F;
	color: #E8983F;
	text-decoration: none;
	border-radius: 0;
	padding-bottom: 3px;
	padding-top: 3px;
	padding-left: 15px;
	padding-right: 15px;
}

.clients-btn:hover {
	background-color: #E8983F;
	border: 3px solid #E8983F;
	color: #F2F3EE;
}
/*end clients*/



/*start prints*/

/*end prints*/



/*media queries*/
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	/*start navbar*/
	
	/*end navbar*/


	/*start footer*/
	.footer-hr {
		width: 40%;
	}
	/*end footer*/


	/*start about*/
	img[alt*="showcase-"] {
		width: 23%;
	}
	/*end about*/


	/*start clients*/
	.card-logo {
		width: 48%;
	}
	/*end clients*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

	/*start navbar*/
	.navbar-nav {
		margin-left: auto;
	}

	.navbar-item {
		margin-left: 30px;
	}
	/*end navbar*/

	/*start landing*/
	.intro-form {
		min-height: 100vh;
	}
	/*end landing*/

	/*start footer*/
	.footer-hr {
		width: 35%;
	}
	/*end footer*/

	/*start clients*/
	.card-logo {
		width: 23%;
	}
	/*end clients*/
}


























